.git
.github
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
Dockerfile
docker-compose.yml
README.md
tests
scriptdatabase.sql
.phpunit.result.cache
public/storage
